nav > ul{
  display: flex;

  
}
nav{
  text-align: center;
}
nav  ul li{
  list-style: none;
  margin-right:10px;
  padding:5px;
}
nav  ul  li:hover{
  background-color: antiquewhite;
}
nav  ul li a{
  text-decoration:none;
  color:black;
  font-size:large;
}
nav  li ul{
  display: none;

} 
nav  li:hover ul{
  display: block;
  position: absolute;

}