*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;  
} 
table{
  border-collapse:collapse;
}
table , th ,td {
  border:1px solid black;
  
}
th,td{
  padding:5px;
}
.round{
  font-weight:bold;
}